.actTable{
    padding-top:45px;
}
.actTable .am-card{
    width:90%;
    margin:1em auto;
}
.actTable .am-card-header-content{
    flex: 3 1;
}
.actTable a[role=button]{
    margin-right: .6em
}
.actTable .am-list-item .am-list-line .am-list-extra{
    -webkit-flex-basis: 65%;
    flex-basis: 65%;
    text-align: left;
}
.actTable .openDrawer {
    position: fixed;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 11;
    top:45px;
}
.actTable .am-list-body{
    border:none
}
.actTable .am-list .am-list-body::before {
    height:0;
}
.actTable .am-list .am-list-body::after {
    height:0;
}
.actTable .openDrawer .am-drawer-sidebar {
    background-color: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.actTable  .openDrawer .am-drawer-sidebar .am-list {
    padding: 0;
}
.actTable .shutDraw{
    position: fixed;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index: -1;
}
.topbox{
    padding:0 5%;
    line-height: 2em;
    height:2em;
}
.nomoredata{
    text-align: center;
    color:#ccc;
}
.pageNo{
    float: right;
}
.searchButton{
    text-align: right;
    position: absolute;
    bottom:0;
    width:100%;
    background: rgb(231, 227, 227);
    vertical-align: middle;
    padding:5px;
}