.sideBar .am-list-item .am-list-line .am-list-content {
	white-space: normal;
	width:auto!important;
	flex:1 1!important;
}

.sideBar .am-list-item .am-list-line .am-list-brief {
	width: 50%;
	display: inline-block;
}