.menuTreeNode{
    margin:10px 25px;
}
.home .am-accordion-item{
    margin-bottom: 10px; 
}
.home .am-accordion .am-accordion-item .am-accordion-header{
    height: 96px;
    line-height: 96px;
    font-size: 22px;
}
.home .am-accordion .am-accordion-item .am-accordion-header i{
    top:40px
}
.home .am-list-item{
    padding-left: 30px;
}
.home .am-list-item .am-list-line .am-list-content{
    padding:0;
    line-height: 2;
    position: relative;
}
.home .am-list-item .am-list-line .am-list-content svg{
    position: absolute;
    right:0;
    top:20%;
}
.home .am-list-item .am-list-line .am-list-content a{
    display: inline-block;
    width:100%;
}