.details {
    padding-top:3em
}
.details .marginBottom{
    border-top: 1em solid #ddd
}
.details .imgpick .am-flexbox .am-flexbox-item{
    min-width: 2em;
}
.details .am-list-item .am-list-line .am-list-extra{
    flex-basis: 67%;
    text-align: left;
}
.details .openDrawer {
    position: fixed;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 11;
    top:45px;
}
.details .openDrawer .am-drawer-sidebar {
    background-color: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    width:90%;
}
.details  .openDrawer .am-drawer-sidebar .am-list {
    padding: 0;
}
.details .shutDraw{
    position: fixed;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index: -1;
}
.drawerBtns{
    background: #ccc;
    text-align: right;
    padding:5px
}
.drawerBtns a{
    margin-left: 10px;
}
.detailButtons span{
    color:#108ee9
}